<h1>Cepillado</h1>

<form  method="post" action="/Rema/Cepillado">
    {% csrf_token %}
    <label for="fecha">Fecha</label>
    <input type="date" name="fecha">
    <br><br>
    <label for="elegirMaquina">Elegir Maquina</label>
    <select id="elegirMaquina" name="elegirMaquina">
        {% for item in inf_maquinas %}
            {% if item.id_centrotrabajo == 4 %}
                <option value={{item.nombremaquina}}> {{item.nombremaquina}} </option>
            {% endif %}
        {% endfor %}
    </select>
    <br><br>
    <label for="codigoMaderaAnt">Codigo Madera Anterior</label>
    <select id="codigoMaderaAnt">
        {% for item in inf_maderas %}
            {% if item.id_centrotrabajo == 3 %}
                <option value={{item.codigo_madera}}> {{item.codigo_madera}} </option>
            {% endif %}
        {% endfor %}
    </select>
    <br><br>
    <label for="codigoMadera">Codigo Madera</label>
    <select id="codigoMadera">
        {% for item in inf_maderas %}
            {% if item.id_centrotrabajo == 4 %}
                <option value={{item.codigo_madera}}> {{item.codigo_madera}} </option>
            {% endif %}
        {% endfor %}
    </select>
    <br><br>
    <label for = "piezasEntrada">Piezas Entrada </label>
    <input id ="piezasEntrada" type='number' name="piezasEntrada"></input>
    <br></br>

    <label for = "piezasSalida">Piezas Salida </label>
    <input id ="piezasSalida" type='number' name="piezasSalida"></input> 
    <br></br>

    <label for = "rechazoHum">Rechazo Humedad </label>
    <input id ="rechazoHum" type='number' name="rechazoHum"></input>
    <br></br>

    <label for = "rechazoDef">Rechazo Defecto </label>
    <input id ="rechazoDef" type='number' name="rechazoDef"></input>
    <br></br>

    <label for = "rechazoProc">Rechazo Cepillado </label>
    <input id ="rechazoProc" type='number' name="rechazoProc"></input>
    <br></br>
    

    <button type = "submit" > Ingresar</button>
    <button type="submit">Prev</button>


 

</form>
