<h1>Cepillado</h1>

<form  method="post" action="/Rema/Cepillado">
    {% csrf_token %}
    <label for="fecha">Fecha</label>
    <input type="date" name="fecha">
    <br><br>
    <label for="nombre_maquina">Elegir Maquina</label>
    <select id="nombre_maquina" name="nombre_maquina">
        {% for item in inf_maquinas %}
            {% if item.id_centrotrabajo == 4 %}
                <option value={{item.nombremaquina}}> {{item.nombremaquina}} </option>
            {% endif %}
        {% endfor %}
    </select>
    <br><br>
    <label for="codigoMaderaAnt">Codigo Madera Anterior</label>
    <select id="codigoMaderaAnt">
        {% for item in inf_maderas %}
            {% if item.id_centrotrabajo == 3 %}
                <option value={{item.codigo_madera}}> {{item.codigo_madera}} </option>
            {% endif %}
        {% endfor %}
    </select>
    <br><br>
    <label for="codigo_madera">Codigo Madera</label>
    <select id="codigo_madera" name="codigo_madera">
        {% for item in inf_maderas %}
            {% if item.id_centrotrabajo == 4 %}
                <option value={{item.codigo_madera}}> {{item.codigo_madera}} </option>
            {% endif %}
        {% endfor %}
    </select>
    <br><br>
    <label for = "piezasentrada">Piezas Entrada </label>
    <input id ="piezasentrada" type='number' name="piezasentrada"></input>
    <br></br>

    <label for = "piezassalida">Piezas Salida </label>
    <input id ="piezassalida" type='number' name="piezassalida"></input> 
    <br></br>

    <label for = "piezasrechazohum">Rechazo Humedad </label>
    <input id ="piezasrechazohum" type='number' name="piezasrechazohum"></input>
    <br></br>

    <label for = "piezasrechazodef">Rechazo Defecto </label>
    <input id ="piezasrechazodef" type='number' name="piezasrechazodef"></input>
    <br></br>

    <label for = "piezasrechazoproc">Rechazo Cepillado </label>
    <input id ="piezasrechazoproc" type='number' name="piezasrechazoproc"></input>
    <br></br>
    

    <button type = "submit" > Ingresar</button>
    <button type="submit">Prev</button>


 

</form>
