
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        min-height: 100vh;
        background-color: #eaeaea;
        display: flex;
        font-family: 'Poppins';
    }
    .container{
        margin: auto;
        width: 500px;
        max-width: 90%;
        
    }
    .leyenda{
        margin-top: 30px;
        margin-bottom: 180px;
        margin-right: 50px;
        width: 35%;
        max-width: 70%;
        background: white;
        border-radius: 4px;
        box-shadow: 0 8px 16px rgba(0,0,0,.3);
    }
    .leyenda h3{
        text-align: center;
    }
    .leyenda li{
        padding-left: 20px;
    }
    .leyenda p{
        padding-left: 10px;
    }
    .leyenda ul{
        padding-left: 20px;
    }
    .container form{
        width: 90%;
        height: 800px;
        padding: 20px;
        background: white;
        border-radius: 4px;
        box-shadow: 0 8px 16px rgba(0,0,0,.3);
    }
    .container form h2{
        text-align: center;
        margin-bottom: 24px;
        color: #222222;
    }
    .container form .form-control{
        width: 100%;
        height: 40px;
        background: white;
        border-radius: 4px;
        border: 1px solid silver;
        margin: 10px 0 18px 0;
        padding: 0 10px;
    }
    .container  .btn {
        margin-left: 37%;
        width: 120px;
        height: 34px;
        border: none;
        outline: none;
        background: #038408;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        transition: .3s;
        color: white;
    }
    .container .btn:hover{
        opacity: .4;
        color: #222222;
    }
</style>
<body>

    <div class="container">
        {% if messages %}
            {% for mensaje in messages %}
                {{ mensaje }}
            {%  endfor %}
            
        {% endif %}
        <form method="post" action="/Rema/nuevocodigo">
            {% csrf_token %}
            <h2>Ingresar Nuevo Código</h2>
            
            <div class="form-group">
                <label for="codigo_madera">Nombre de código</label>
                <input id="codigo_madera" type="text" name="codigo_madera" class="form-control">
            </div>



            <div class="form-group">
                <label for="nombre_centrotrabajo">Centro de trabajo</label>
                <select id="nombre_centrotrabajo" name="nombre_centrotrabajo" class="form-control">
                    
                    {% for item in inf_ct %}
                        {% if item.id_area == 1 %}
                            <option value={{item.nombre_centrotrabajo}}> {{item.nombre_centrotrabajo}} </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="espesor">Espesor</label>
                <input id="espesor" type="number" step="any" name="espesor" class="form-control">
            </div>

            <div class="form-group">
                <label for="ancho">Ancho</label>
                <input id="ancho" type="number" step="any" name="ancho" class="form-control">
            </div>

            <div class="form-group">
                <label for="largo">Largo</label>
                <input id="largo" type="number" step="any" name="largo" class="form-control">
            </div>

            <div class="form-group">
                <label for="diametro">Diametro</label>
                <input id="diametro" type="number" step="any" name="diametro" class="form-control">
            </div>

            <div class="form-group">
                <label for="cantidadxpaquete">Cantidad por paquete</label>
                <input id="cantidadxpaquete" type="number" name="cantidadxpaquete" class="form-control">
            </div>

            <button type = "submit" class="btn" > Ingresar</button>

        </form>
        <a href="/Rema/">
            <button class="btn" >Volver a Rema</button>
        </a>
    </div>
    <div class="leyenda">
        <h3>Ayuda para ingreso</h3>
        <h3>de nuevo código</h3>
        <br>
        <p><strong> Nombre del código:</strong> se utilizará para identificar en cada centro trabajo, para mejor legibilidad utilizar la siguiente nomenclatura:
        </p>
        <li>ASE - Aserradero (ASEL/ASEM de ser lateral o medula)</li>
        <li>SEC - Secado (SECL/SECM lateral o medula)</li>
        <li>CEP - Cepillado (CEPL/CEPM)</li>
        <li>TRZ - Trozado (TRZL/TRZM)</li>
        <li>FNG - Finger</li>
        <li>MOL - Moldurera</li>
        <p><strong>
            Algunos ejemplos:
        </strong>
        </p>
        <ul>CEPL217224 = Cepillado Lateral 21x72x2400</ul>
        <ul>MOL-CJ-13 = CJ-13</ul>
        <ul>FNG-MDP-341462200 = Marco de puerta finger 34x146x2200 (Si es reproceso modificar FNG por RPR de reproceso)</ul>
        <ul></ul>
        <br>
        <p><strong> Centro de trabajo:</strong> Seleccionar a que CT pertenece el código</p>
        <br>

        <p>Las medidas <strong> espesor, ancho, largo</strong> son para registrar y calcular los volumenes (Ej: CEPL217224 espesor: 21 ancho: 72 largo: 2.4)</p>
        <br>

        <p><strong> Diametro:</strong> Sólo si aplica (en caso que no, dejar en 0)</p>
        <br>

        <p><strong> Cantidad por paquete:</strong> Cantidad de paquete según escruadría</p>
    </div>
</body>       