<style>
    /* Estilos para previsualizacion.html */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
}

.container {
  width: 500px;
  max-width: 90%;
}

.container h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #222222;
}

.container .form-data {
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
  margin-bottom: 20px;
}

.container .form-data p {
  margin-bottom: 10px;
}

.container .btn-container {
  display: flex;
  justify-content: center;
}

.container .btn-container a {
  text-decoration: none;
}

.container .btn-container .btn {
  width: 200px;
  height: 40px;
  margin: 10px;
  display: inline-block;
  border: none;
  outline: none;
  background: #038408;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: .3s;
  color: white;
}

.container .btn-container .btn:hover {
  opacity: .4;
  color: #222222;
}

</style>
<body>
    <div class="container">
        <h1>Previsualización FNG</h1>
        
        <div class="form-data">
            <p>Fecha: {{ form_data.fecha }}</p>
            <p>Nombre de la máquina: {{ form_data.nombre_maquina }}</p>
            <p>Código de madera anterior: {{ form_data.codigo_madera_ant }}</p>
            <p>Código de madera: {{ form_data.codigo_madera }}</p>
            <p>Piezas de entrada: {{ form_data.piezasentrada|floatformat:0 }}</p>
            <p>Piezas de Calidad: {{ form_data.piezascalidad }}</p>
            <p>Piezas de Reproceso: {{ form_data.piezasreproceso }}</p>
            <p>Volumen Entrada: {{ form_data.volumenentrada|floatformat:2 }} m3</p>
            <p>Volumen Calidad: {{ form_data.volumencalidad|floatformat:2 }} m3</p>
            <p>Volumen Reproceso: {{ form_data.volumenreproceso|floatformat:2 }} m3</p>
            <p>Volumen Total: {{ form_data.volumentotal|floatformat:2 }} m3</p>



        </div>
        
        <div class="btn-container">
            <a href="/Rema/Finger">
                <button class="btn">Volver al formulario</button>
            </a>
            
        </div>
    </div>
</body>
