<h1>Secado</h1>

<form>
    {% csrf_token %}
    <label for="calendarFecha">Fecha</label>
    <input type="date">
    <br><br>
    <label for="dropdownMaquina">Elegir Maquina</label>
    <select id="dropdownMaquina">
        {% for item in maquinas %}
            {% if item.id_centrotrabajo == 3 %}
                <option value={{item.nombremaquina}}> {{item.nombremaquina}} </option>
            {% endif %}
        {% endfor %}
    </select>
    <br><br>
    <label for="dropdownCodMadAnt">Codigo Madera Anterior</label>
    <select id="dropdownCodMadAnt">
        {% for item in maderas %}
            {% if item.id_centrotrabajo == 2 %}
                <option value={{item.codigo_madera}}> {{item.codigo_madera}} </option>
            {% endif %}
        {% endfor %}
    </select>
    <br><br>
    <label for="dropdownCodMad">Codigo Madera</label>
    <select id="dropdownCodMad">
        {% for item in maderas %}
            {% if item.id_centrotrabajo == 3 %}
                <option value={{item.codigo_madera}}> {{item.codigo_madera}} </option>
            {% endif %}
        {% endfor %}
    </select>
    <br><br>

    <label htmlFor = "inputPiezasEntradaSEC">Piezas Entrada </label>
    <input id ="inputPiezasEntradaSEC" type='number'></input>
    <br></br>

    <label htmlFor = "inputPiezasSalidaSEC">Piezas Salida </label>
    <input id ="inputPiezasSalidaSEC" type='number'></input>
    <br></br>
   
    <button type = "submit"> Ingresar</button>
    <button onclick="location.href= '/Rema' " type="submit">Volver a Rema</button>


</form>
